* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  background-color: rgb(0, 0, 0);
  color: rgb(61, 214, 0);
}

nav {
  border: solid rgb(61, 214, 0);
  border-width: 1px;
  padding: 15px;
  display: flex;
  justify-content: center;
  height: 50px;
  position: relative;
}

select {
  cursor: pointer;
}

.difficulty {
  margin-right: 5px;
}
.select-time {
  margin-left: 5px;
}
.select-time:disabled,
.difficulty:disabled {
  color: rgb(153, 0, 0);
}
.difficulty-hero {
  color: rgb(0, 87, 250);
}
.no-difficulty-in-exercise-mode {
  display: none;
  margin-right: 50px;
  border: 2px solid rgb(61, 214, 0);
  border-radius: 7px;
  width: 35px;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 35px;
  cursor: pointer;
}
.no-difficulty-in-exercise-mode:hover {
  background-color: rgb(30, 104, 0);
}
.no-difficulty-in-exercise-mode > span {
  background-color: transparent;
}

main {
  height: calc(100vh - 140px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  border: solid rgb(61, 214, 0);
  border-width: 1px;
  padding: 20px;
  width: 500px;
}

.before-starting {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 15px;
}

button {
  background-color: rgb(61, 214, 0);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.countdownBeforeStarting {
  display: none;
  flex-direction: column;
  text-align: center;
}
#count-number {
  font-size: 100px;
}

.choice-save-score-globally {
  display: none;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
}

#save-global-score > button {
  padding: 5px;
}

.insert-nickname {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.nickname {
  width: 440px;
  padding: 5px;
}
.insert-nickname > button {
  width: 85px;
  background-color: rgb(128, 128, 128);
}

.game-started {
  display: none;
}
.info {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}

.info-sentences {
  display: none;
  font-size: 13px;
  text-align: center;
  line-height: 2;
}

.speed-letters,
.speed-words {
  color: rgb(243, 243, 0);
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  line-height: 40px;
  gap: 10px;
}
.game > input {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.game > h2,
.game > input {
  text-transform: uppercase;
}

.sentences-to-display {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
}
.sentences-to-display > span {
  color: white;
}

.correct {
  color: rgb(61, 214, 0) !important;
}
.wrong {
  color: rgb(255, 0, 0) !important;
}

.earthquake {
  animation-name: earthquake;
  animation-duration: 1s;
}
@keyframes earthquake {
  0% {
    margin-left: -5px;
  }
  25% {
    margin-left: 10px;
  }
  50% {
    margin-left: -15;
  }
  100% {
    margin-left: 0px;
  }
}

.exercise {
  display: none;
}

.show-hide-score {
  padding: 5px;
}
.show-hide-score > img {
  width: 50px;
  background-color: transparent;
}

.error-api {
  padding: 15px 0;
  color: rgb(255, 0, 0);
  line-height: 1.5;
}

.ranking-container {
  border: solid rgb(61, 214, 0);
  border-width: 1px;
  padding: 20px;
  width: 500px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
  position: relative;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.local-ranking-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.global-ranking-container {
  display: flex;
  flex-direction: column;
}

.easy,
.medium,
.hard {
  color: rgb(197, 0, 0);
}

.ranking-container > ul {
  line-height: 1.5;
}

.hero {
  color: rgb(231, 197, 1);
  margin-bottom: 20px;
}

.scores-title {
  width: 100%;
  display: flex;
  text-align: center;
}

.close-scores {
  cursor: pointer;
  position: absolute;
  right: 15px;
}

.show-helper {
  position: absolute;
  right: 15px;
  bottom: 10px;
  z-index: 250;
  padding: 0;
}
.show-helper > img {
  background-color: transparent;
  width: 50px;
}

.helper-description {
  position: absolute;
  display: none;
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-size: contain;
  z-index: 150;
  line-height: 2;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 15px 15px 70px 15px;
}

.helper-description.slideUp {
  display: flex;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes slideUp {
  from {
    top: 200%;
  }
  to {
    top: 0;
  }
}
.helper-description.slideDown {
  display: flex;
  animation-name: slideDown;
  animation-duration: 0.8s;
  animation-fill-mode: none;
}
@keyframes slideDown {
  from {
    top: 55px;
  }
  to {
    top: 200%;
  }
}
.helper-description.slideDown > div {
  display: none;
}

.helper-description > span {
  font-size: 12px;
}

.close {
  display: flex;
  align-self: end;
  cursor: pointer;
}

.setting-info {
  color: rgb(197, 0, 0);
}
.setting-info:hover {
  cursor: pointer;
  color: rgb(0, 87, 250);
}

.copied-to-cliboard {
  display: none;
  color: rgb(255, 255, 0);
}

.youtube-icon,
.linkedin-icon {
  width: 40px;
  background-color: rgb(61, 214, 0);
  border-radius: 10px;
  padding: 2px;
  margin: 5px;
  float: right;
}
.youtube-icon:hover {
  background-color: rgb(197, 0, 0);
}
.social {
  text-decoration: none;
}
.linkedin-icon:hover {
  background-color: rgb(0, 87, 250);
}

.languages {
  margin-bottom: 15px;
  font-size: larger;
  padding: 5px;
}

.quit-game {
  display: none;
  margin-left: 40%;
}
@media (max-width: 650px) {
  .quit-game {
    margin-left: 5%;
  }
}

.audio-btn {
  padding: 0;
  margin-left: 10px;
}
.audio-btn > img {
  background-color: transparent;
  width: 50px;
}

footer {
  border: 1px solid rgb(61, 214, 0);
  display: flex;
  height: 90px;
  padding: 10px;
  position: relative;
}

.btn-scores-group {
  display: flex;
}

.global {
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}

.local {
  border-radius: 0 5px 5px 0;
}

.local,
.global {
  border: 2px solid rgb(61, 214, 0);
  color: rgb(61, 214, 0);
  background-color: rgb(0, 0, 0);
  max-width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.local:hover,
.global:hover {
  background-color: rgb(61, 214, 0);
  color: rgb(0, 0, 0);
}

.selected {
  background-color: rgb(61, 214, 0);
  color: rgb(0, 0, 0);
}

.btns-difficulty-global-scores {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.btns-difficulty-global-scores > button {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  padding-bottom: 5px;
}

.global-easy {
  border-radius: 5px 0 0 5px;
}
.global-medium {
  border-radius: 0;
}
.global-hard {
  border-radius: 0;
}
.global-hero {
  border-radius: 0 5px 5px 0;
}

.btns-difficulty-global-scores > button:hover {
  color: rgb(61, 214, 0);
  border-color: rgb(61, 214, 0);
}

.btns-difficulty-global-scores > button.selected-global {
  color: rgb(0, 87, 250);
  border-color: rgb(0, 87, 250);
}

.seconds-30,
.seconds-60 {
  line-height: 2;
}

.seconds-30 > ul > li:first-child,
.seconds-60 > ul > li:first-child {
  color: rgb(255, 217, 0);
}
.seconds-30 > ul > li:nth-child(2),
.seconds-60 > ul > li:nth-child(2) {
  color: rgb(173, 173, 173);
}
.seconds-30 > ul > li:nth-child(3),
.seconds-60 > ul > li:nth-child(3) {
  color: rgb(255, 102, 0);
}

.seconds-30 {
  border-right: 2px solid rgb(61, 214, 0);
  padding-right: 15px;
}
.seconds-60 {
  border-left: 2px solid rgb(61, 214, 0);
  padding-left: 15px;
}

.g-seconds {
  margin-bottom: 10px;
  color: rgb(197, 0, 0);
}

.g-hero-container {
  display: none;
  padding: 10px;
  justify-content: center;
  line-height: 2;
}
.g-hero-container > ul > li,
.g-hero-container > ul > li > span {
  color: rgb(231, 197, 1);
}

.user {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.user > span {
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.success-save-db {
  display: none;
}
.error-retry {
  display: none;
  color: rgb(197, 0, 0);
}

.easy-global-scores {
  display: flex;
}
.medium-global-scores,
.hard-global-scores {
  display: none;
}
.easy-global-scores,
.medium-global-scores,
.hard-global-scores {
  justify-content: space-between;
  text-align: center;
}

.user > span:nth-child(2) {
  color: rgb(255, 0, 0);
}
.user > span:first-child {
  text-transform: uppercase;
}
